<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLogin ? 'Log In' : 'Register new user' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username/Callsign</ion-label>
              <ion-input  name="email" ngModel type="text" required #usernameCtrl="ngModel"></ion-input>              
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input  name="email" ngModel type="email" required email #emailCtrl="ngModel"></ion-input>              
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label color="danger">Use a valid email address</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" ngModel required #passwordCtrl="ngModel" minlength="1"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label color="danger">Enter your password</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" fill="clear" expand="block" type="button" (click)="switcher()">Switch to {{ isLogin ? 'Registration' : 'Log In' }}</ion-button>
          <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid">
            {{ isLogin ? 'Login' : 'Register' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
 

</ion-content>
