<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Targets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loadedTargets.length < 2" class="ion-text-center">
    <p>To create a target, begin a new fire mission and record as target once adjusted</p>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let target of loadedTargets" (click)="onPreview(target.target)">
      <ion-item>
        <ion-label>
          <h2>{{target.target}}</h2>
          <p>{{target.grid}} | {{target.alt}}</p>
          <p>{{target.description}}</p>
          <p>{{target.remarks}}</p>
        </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="onDelete(target.target)">
        <h4 color="danger">DEL</h4>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
